
.cont{
    background-color: #eee;
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
}
.main{
    position: absolute;
    top:40%;
    width:200px;
    border:1px solid black;
    height:5px;
    border-radius:10px;
    z-index:2;
}
.box{
    border-radius:10px;
    width:100px;
    height:5px;
    background-color:black;
    animation:anima;
    animation-duration:4s;
    animation-iteration-count: infinite;
}
@keyframes anima{
    from{
        width:0px;
    }
    to{
        width:200px;
    }
}